CONTENTFUL_SPACE_ID=your_space_id
CONTENTFUL_ACCESS_TOKEN=your_delivery_api_token
CONTENTFUL_PREVIEW_TOKEN=your_preview_api_token
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_PREVIEW_SECRET=your_preview_secret
