CONTENTFUL_SPACE_ID=your_space_id
CONTENTFUL_ACCESS_TOKEN=your_delivery_api_token
CONTENTFUL_PREVIEW_TOKEN=your_preview_api_token
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_PREVIEW_SECRET=your_preview_secret

# Public vars for preview widget deep links
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=your_space_id
NEXT_PUBLIC_CONTENTFUL_ENVIRONMENT=master

# Contentful Personalization (Ninetailed)
NEXT_PUBLIC_NINETAILED_API_KEY=your_ninetailed_api_key
NEXT_PUBLIC_NINETAILED_ENVIRONMENT=main
